.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.botones{
  padding: 5%;
  
}

html{
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/723/891/large_2x/modern-background-with-fluid-and-leaves-shape-green-pastel-color-and-hand-draw-line-on-white-background-flat-minimal-design-with-copy-space-for-text-free-vector.jpg);
  background-size: cover;
}
.Contenedor-Mayor{
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/723/891/large_2x/modern-background-with-fluid-and-leaves-shape-green-pastel-color-and-hand-draw-line-on-white-background-flat-minimal-design-with-copy-space-for-text-free-vector.jpg);
  background-size: cover;
}

.letra{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.centrar
{
  margin-left: auto !important;
  margin-right: auto !important;
}